*{
    box-sizing: border-box;
}
body{
    background: #EAE2C6;
    margin: auto;
    padding: 0;
    width: 70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
header{
    background-color: aquamarine;
    text-align: center;
    padding: 40px;
}
nav{
    display: flex;
    background: #333;
    justify-content: center;
   
}

nav>a{
    text-decoration: none;
    color: white;
    padding: 14px;
    font-weight: bold;
    font-size: 15px;
}
main{
    background-color: beige;
    margin: 0;
    padding: 10px 40px 30px 40px;
}
h2{
    text-align: center;
}
img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
.imagen{
    border: black solid 1px;
    
}
footer{
    background-color: cadetblue;
    padding: 10px 30px 85px 30px;
}
footer p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
footer a{
    color: rgb(8, 8, 8);
}
a:hover{
    color: blueviolet;
}

